.logo
{
    margin-top: 5%;
    width: 23%;
	height: 60%;
}
.tete
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
ul
{
    display: flex;
    list-style: none;
}
li
{
    justify-content: space-around;
    margin-left: 60px;
}
.inscrire
{
    padding-right: 50px;
}
nav
{
    font-family: 'Raleway', sans-serif;
}
body
{
    width: 1340px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
nav a:link 
{ 
    text-decoration:none; 
} 
nav a:hover
{
    color: #0065FC;
    border-top: #0065FC solid 5px;
    padding-top: 13px;
}
nav a 
{
    color: black;
}
.sous_titre
{
    margin-bottom: 1%;
}
h1
{
    font-size: 18px;
    text-decoration: bold;
}
.search_bar
{
    display: flex;
    width: 20rem;
    margin-bottom: 3rem;
    border: rgb(242, 242, 242) 1px solid;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
}
.icon_search
{
    padding: 1rem 1rem 0.6rem 1rem;
    width: 20px;
    height: 22px;
    background-color: rgb(242, 242, 242);
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem 0 0 0.8rem; 
}
#ville
{
    font-weight: 700;
    font-size: 1.1rem;
    height: 3rem;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem 0 1rem;
}

#recherche
{
    background-color: blue;
    color: white;
    border-radius: 0 1rem 1rem 0;
    border: none;
    font-size: 15px;
    background-color: #0065FC;
    color: white;
    height: 3rem;
    width: 10rem;
    font-weight: bold;
    cursor: pointer;
}
.titre_filtre
{
    font-weight: bold;
    display: flex;
}
.icon
{
    color: #0065FC;
    display: flex;
    align-items: center;
    font-weight: 900;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    justify-content: center;
}
.filtres
{
    display: flex;
}
.filtre
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    margin-right: 20px;
    padding-right: 50px;
    height: 48px;
    margin-bottom: 1rem;
}
.filtre a
{
    text-decoration: none;
}
.filtre a:hover
{
    color: #0065FC;
}
.lien_filtre
{
    color: black;
    display: flex;
    font-weight: bold;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
}

.titre_filtre
{
    margin-right: 20px;
    font-weight: 700;
}
.info
{
    display: flex;
    align-items: center;
}
.icon_info
{
    color: #0065FC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(230, 230, 228, 0.8);
    margin-right: 1rem;
    min-height: 2rem;
    min-width: 2rem;
}
.infos
{
    font-weight: 400;
    font-size: 0.9em;
}
.hosting
{
    display: flex;
}
.hosting_city
{
    background-color: rgb(242, 242, 242);
    padding: 1rem 0rem 0rem 2rem;
    margin-right: 1.5rem;
    border-radius: 25px 25px 25px 25px;
    flex: 2.6;
}
.hosting_city h2
{
    margin-right:0;
}
.hosting_city_list
{
    display: flex;
    flex-wrap: wrap;
}
.hosting_city_list a
{
    flex-direction: column;
}
.img_heb
{
    width: 100%;
    height: 115px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    object-position: center;
}
.hosting_card
{
    width: 29%;
    margin-right: 3%;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 30px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
}
.hosting_card a
{
    text-decoration: none;
}
.hosting_card h3
{
    margin: 0%;
}

.desc_hebergement:hover
{
    color: #0065FC;
}
.desc_hebergement p
{
    margin: 0%;
}
.desc_hebergement
{
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 5%;
}
.hosting_card a
{
    color: black;
}
.fas.blue
{
    color: #0065FC;
}
.fas.white
{
    color:rgb(242, 242, 242);
    margin-left: 3px;
}
.note
{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0%;
    margin-left: 5%;
}
.note p
{
    margin: 0%;
    padding-top: 12%;
}
.hosting_city .more a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.hosting_popular
{
    flex: 1.1;
    background-color: rgb(242, 242, 242);
    border-radius: 25px;
    text-align: center;
    padding: 3% 1% 2% 1%;
    margin-left: 0.2rem;
}
.hosting_card_popular
{
    display: flex;
    flex-direction: column;
}
.title_hosting
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0% 5%;
}
.title_hosting_popular h2
{
    margin: 0%;
}
.icon_popular
{
    font-size: 150%;
}
.card_popular
{
    background-color: white;
    border-radius: 25px;
    padding: 1%;
    display: flex;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    margin: 4%;
    width: 90%;
}
.card_popular .note
{
    margin: 0%;
}
.card_popular a 
{
    text-decoration: none;
    color: black;
}
.card_popular a:hover
{
    color: #0065FC;
}
.img_pop
{
    width: 37%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    object-position: center;
    align-items: flex-start;
    margin-right: 5%;
    height: 145px;
}
.desc_poplular
{
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 2% 8% 1% 0;
}
.desc_poplular h3
{
    margin: 0%;
}
.card_popular a
{
    display: flex;
}
